html{
	background-image:url("tester.jpg");
    background-color: white;
	background-size: cover;
    background-repeat: no-repeat;
	background-position:top;
}

.fix{
    position:absolute;
    bottom:40px;
    right:50px;
	width:200px;
	height:100px;
}

.fix1{
	position:absolute;
    bottom:16px;
    left:20px;
	width:200px;
	height:100px;
}

.audio { 
	width: 200px; 
}

.size{
	width:204px;
	height:128px;
}
