img {
   border:5px solid #000000;
   padding:1px;
   background-color:#ff0;
}

a.highlight1:hover{
	background-color:#8A2BE2;
}

a.highlight2:hover{
	background-color:#DC143C;
}

a.highlight3:hover{
	background-color:#8A2BE2;
}

a.highlight3:hover{
background-color:#0000ff;
}

figure .image {
    height:200%;
	width: 200%;
	margin: 0 auto;
}

.centerpic{
	margin: auto;
    width: 60%;
    padding: 10px;
}

.fix{
    position:absolute;
    bottom:8px;
    right:16px;
}

.fix1{
	position:absolute;
    bottom:8px;
    left:16px;
}

.size{
	width:304px;
	height:228px;
}

.size2{
	width:200px;
	height:100px;
}